body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(12, 12, 12, 0.945);
    color: #ebe9e1;
}
#logo {
    width: 2rem;
    height: 2rem;
}
#item {
    color:rgb(143, 163, 255);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
#navbar {
    background-color: #313b2f85;
}
#bg {
    background-size: cover;
    opacity: 0.5;
    background-color: black;
    background-repeat: no-repeat;
}
nav {
    margin-top: 0;
    margin-bottom: 0;
}
nav.sticky#navbar{
    background-color:#313b2fd3;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.589);
}
nav.sticky ul li a {
    color: white;
}
.caption {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: -90px;
    text-transform: uppercase;
}
.caption #isi {
    margin-top: 30px;
    font-family: 'Antic', sans-serif;
    font-size: 18px;
}
.caption #judul {
    font-size: 60px;
}
.caption #judul span{
    color: lightskyblue;
}
.caption a {
    font-size: 15px;
    border: 0.1px solid white;
    border-radius: 0.3rem;
    color: white;
    padding: 13px 40px 13px 40px;
}
.caption a:hover {
    background-color: lightskyblue;
    border: 0.1px solid lightskyblue;
    text-decoration: none;
    color: black;
}
#kudus {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color:rgb(143, 163, 255);
}
.navbar-brand {
    border-bottom: 1px solid white;
}
.navbar-brand a img {
    width: 80px;
    height: 80px;
}
.container-fluid a:hover {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
.pengenal {
    margin-top: 60px;
}
.pengenal h2 {
    font-family: 'Merienda', cursive;
}
.pengenal h5 {
    font-family: 'Merriweather Sans', sans-serif;
}
.main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main h3 {
    width: 100%;
    font-family: 'Merienda', cursive;
}
.main img {
    width: 50%;
}
.main p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.575);
    font-size: 15px;
    margin-top: 5px;
}
.main h5 {
    font-family: 'Merriweather Sans', sans-serif;
    /* color: #F2F2F2; */
}
/* .view {
    overflow: hidden;
}
.view img {
    transition: all 1.5s ease;
}
.view:hover img{
    transform: scale(1.5);
} */
.main h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    /* background-color: transparent; */
    color: #EEEBDD;
    margin-top: 20px;
}
.main a {
    text-decoration: none;
}
.main h6:hover {
    background-color: lightskyblue;
    color: rgba(29, 29, 29, 0.884);
    /* border-bottom: 1px solid white; */
    text-decoration: none;
}
.maps {
    margin-top: 50px;
    margin-bottom: 50px;
}
.col h3 {
    font-family: 'Merienda', cursive;
}
.col h5 {
    font-family: 'Merriweather Sans', sans-serif;
}
footer{
    margin-top: 40px;
}
.sosial a {
    margin-left: 17px;
    margin-right: 17px;
}