body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(12, 12, 12, 0.945);
    color: #ebe9e1;
}
#logo {
    width: 2rem;
    height: 2rem;
}
#navbar {
    background-color: #313b2f85;
}
#item {
    color:rgb(143, 163, 255);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
#item1 {
    color:rgb(143, 163, 255);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid white;
}
nav {
    margin-top: 0;
    margin-bottom: 0;
}
nav.sticky#navbar{
    background-color:#313b2fd3;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.589);
}
nav.sticky ul li a {
    color: white;
}
#kudus {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color:rgb(143, 163, 255);
}
/* .navbar-brand {
    border-bottom: 1px solid white;
} */
.navbar-brand a img {
    width: 80px;
    height: 80px;
}
.container-fluid a:hover {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
#wisata {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wisata span {
    color: lightskyblue;
    padding-left: 12px;
    padding-right: 12px;
}
.about {
    margin: 70px 0 30px 0;
}
.pengenal {
    margin-top: 60px;
}
.pengenal h5 {
    margin-left: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}
.main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main ul {
    font-size: 50px;
    width: 100%;
    display: flex;
    position: relative;
    right: 7px;
    top: 50px;
}
.main h3 {
    margin-bottom: -70px;
    margin-left: 60px;
    width: 100%;
    font-family: 'Merienda', cursive;
}
.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid white;
}
.item img {
    width: 50%;
}
.item p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.521);
    font-size: 15px;
    margin-top: 5px;
}
.item h5 {
    margin-left: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}
.item h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    /* background-color: transparent; */
    color: #EEEBDD;
    margin-top: 20px;
}
.item a {
    text-decoration: none;
}
.item h6:hover {
    background-color: lightskyblue;
    color: rgba(29, 29, 29, 0.884);
    text-decoration: none;
}
.item a:hover {
    border-bottom: 1px solid black;
}
.main1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid white;
    margin-top: -30px;
}
.main1 ul {
    font-size: 50px;
    width: 100%;
    display: flex;
    position: relative;
    right: 9px;
    top: 50px;
}
.main1 h3{
    margin-bottom: 60px;
    font-family: 'Merienda', cursive;
}
.main1 img {
    width: 50%;
}
.main1 p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.521);
    font-size: 15px;
    margin-top: 5px;
}
.main1 h5 {
    margin-left: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}
.main1 h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    /* background-color: transparent; */
    color: #EEEBDD;
    margin-top: 20px;
}
.main1 a {
    text-decoration: none;
}
.main1 h6:hover {
    background-color: lightskyblue;
    color: rgba(29, 29, 29, 0.884);
    text-decoration: none;
}
.main1 a:hover {
    border-bottom: 1px solid black;
}
.maps {
    margin-top: 50px;
    margin-bottom: 50px;
}
.col h3 {
    font-family: 'Merienda', cursive;
}
.col h5 {
    font-family: 'Merriweather Sans', sans-serif;
}
footer{
    margin-top: 20px;
}
.sosial a {
    margin-left: 17px;
    margin-right: 17px;
}
